@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shape {
  clip-path: path(
    'M21.8919 0.5H183.108C195.571 0.5 205.281 11.3099 203.949 23.7016L198.564 73.7803C197.419 84.4277 188.432 92.5 177.723 92.5H27.2768C16.5679 92.5 7.58113 84.4277 6.43624 73.7803L1.05144 23.7015C-0.281002 11.3099 9.42885 0.5 21.8919 0.5Z'
  );
}

.left-btn {
  clip-path: path(
    'M87.9999 105C87.9999 131.751 73.5 137.219 43.9999 157.5C16.5 174 -7.02145e-05 210 -7.02145e-05 210L-6.10352e-05 -3.8466e-06C-6.10352e-05 -3.8466e-06 16.4999 32.8571 43.9999 52.5C73.5 72.1429 87.9999 78.2491 87.9999 105Z'
  );
}

.right-btn {
  clip-path: path(
    'M1.25359e-06 105C-1.29813e-06 78.2491 14.4999 72.7813 44 52.5C71.4999 36 88 1.04939e-06 88 1.04939e-06L88 210C88 210 73.5001 178.143 44 157.5C14.4999 136.857 3.80531e-06 131.751 1.25359e-06 105Z'
  );
}

.-webkit-backdrop-blur-4 {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.-webkit-backdrop-blur-12 {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.-webkit-backdrop-blur-16 {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
